VITE_SUPABASE_URL=https://tuuzzsfliiudjtzsqlrp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1dXp6c2ZsaWl1ZGp0enNxbHJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NTkwODksImV4cCI6MjA5MDUzNTA4OX0.7l9ibTo_d8KYXmejt8g9qiwHuDiRP90BFOxzQLjwHbU
VITE_ADMIN_EMAIL=albadi.wear@gmail.com
